[submodule "submodules/kuksa.val"]
	path = submodules/kuksa.val
	url = https://github.com/eclipse/kuksa.val
[submodule "submodules/kuksa-common"]
	path = submodules/kuksa-common
	url = https://github.com/eclipse-kuksa/kuksa-common
