# /********************************************************************************
# * Copyright (c) 2022 Contributors to the Eclipse Foundation
# *
# * See the NOTICE file(s) distributed with this work for additional
# * information regarding copyright ownership.
# *
# * This program and the accompanying materials are made available under the
# * terms of the Apache License 2.0 which is available at
# * http://www.apache.org/licenses/LICENSE-2.0
# *
# * SPDX-License-Identifier: Apache-2.0
# ********************************************************************************/

name: kuksa_client

on:
  push:
  pull_request:
  workflow_dispatch:

concurrency:
      group: ${{ github.ref }}-${{ github.workflow }}
      cancel-in-progress: true

# Needed as default_workflow_permissions is "read"
permissions:
  packages: write

jobs:
  check_ghcr_push:
    uses: eclipse-kuksa/kuksa-actions/.github/workflows/check_ghcr_push.yml@2
    secrets: inherit

  build-docker:
    runs-on: ubuntu-latest
    needs: check_ghcr_push

    steps:
    - uses: actions/checkout@v4
      with:
        # Fetch everything to get tags working as expected
        fetch-depth: 0
        submodules: 'true'
    - name: Docker meta
      id: meta
      uses: docker/metadata-action@v5
      with:
        # list of Docker images to use as base name for tags
        images: |
          ghcr.io/eclipse-kuksa/kuksa-python-sdk/kuksa-client
          quay.io/eclipse-kuksa/kuksa-client
        # generate Docker tags based on the following events/attributes
        tags: |
          type=ref,event=branch
          type=ref,event=pr
          type=semver,pattern={{version}}
          type=semver,pattern={{major}}.{{minor}}
          type=semver,pattern={{major}}

    # only needed for runners without buildx setup, will be slow
    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3

    - name: Set up Docker Buildx
      id: buildx
      uses: docker/setup-buildx-action@v3

    - name: Log in to ghcr.io container registry
      if: needs.check_ghcr_push.outputs.push == 'true'
      uses: docker/login-action@v3
      with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
          #username: kuksa-bot #keep it for now, maybe the standard token can not push to same package
          #password: ${{ secrets.PUSH_CONTAINER_TOKEN }}

    - name: Log in to quay.io container registry
      if: needs.check_ghcr_push.outputs.push == 'true'
      uses: docker/login-action@v3
      with:
        registry: quay.io
        username: ${{ secrets.QUAY_IO_USERNAME }}
        password: ${{ secrets.QUAY_IO_TOKEN }}

    - name: Build kuksa command line client docker and push to ghcr.io, quay.io and ttl.sh
      if: needs.check_ghcr_push.outputs.push == 'true'
      uses: docker/build-push-action@v5
      with:
        platforms: |
          linux/amd64
          linux/arm64
        context: .
        file: kuksa-client/Dockerfile
        push: true
        tags: |
          ${{ steps.meta.outputs.tags }}
        labels: ${{ steps.meta.outputs.labels }}
        # Provenance to solve that an unknown/unkown image is shown on ghcr.io
        # Same problem as described in https://github.com/orgs/community/discussions/45969
        provenance: false

    - name: Build ephemeral KUKSA command line client docker and push to ttl.sh
      if: needs.check_ghcr_push.outputs.push == 'false'
      uses: docker/build-push-action@v5
      with:
        platforms: |
          linux/amd64
          linux/arm64
        context: .
        file: kuksa-client/Dockerfile
        push: true
        tags: "ttl.sh/kuksa-python-sdk/kuksa-client-${{github.sha}}"
        labels: ${{ steps.meta.outputs.labels }}
        # Provenance to solve that an unknown/unkown image is shown on ghcr.io
        # Same problem as described in https://github.com/orgs/community/discussions/45969
        provenance: false

    # Shall later be a kuksa-actions call
    - name: Posting temporary container location
      uses: eclipse-kuksa/kuksa-actions/post-container-location@2
      with:
        image: ttl.sh/kuksa-python-sdk/kuksa-client-${{github.sha}}

  kuksa-client-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout kuksa-python-sdk
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: 'true'
      - name: Install pip
        run: |
          python -m pip --quiet --no-input install --upgrade pip
      - name: Initiate submodules
        run: |
          git submodule update --remote
      - name: Install dependencies with pip
        run: |
          cd kuksa-client
          pip install -r requirements.txt -r test-requirements.txt
          python3 -m prototagandcopy
          python3 -m protobuild
          pip install -e .
      - name: Run tests
        run: |
          cd kuksa-client
          pytest
      - name: Build pypi package
        run: |
          cd kuksa-client
          pip install --upgrade build
          python -m build
